body{
    background:	#f4f5f7;
}
label {
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    color: #696969;
}

b {
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    margin-left: 10px;
    color: #696969;
}

.img-profile {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.dt-tag {
    margin-left: 20px;
}

dd {
    font-family: 'Lora', serif;
    color: #696969;
}

a {
    font-family: 'Lora', serif;
    color: #696969;
}

.colorful-4 {
    background:
    -webkit-linear-gradient(65deg, hsla(176.64, 68.42%, 59.02%, 1) 10%, hsla(176.64, 68.42%, 59.02%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(192.8, 73.21%, 43.92%, 1) 15%, hsla(192.8, 73.21%, 43.92%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(240, 60.83%, 52.94%, 1) 100%, hsla(240, 60.83%, 52.94%, 0) 70%);
  background:
    linear-gradient(25deg, hsla(176.64, 68.42%, 59.02%, 1) 10%, hsla(176.64, 68.42%, 59.02%, 0) 80%),
    linear-gradient(315deg, hsla(192.8, 73.21%, 43.92%, 1) 15%, hsla(192.8, 73.21%, 43.92%, 0) 80%),
    linear-gradient(245deg, hsla(240, 60.83%, 52.94%, 1) 100%, hsla(240, 60.83%, 52.94%, 0) 70%);;
}
/* .colorful {
background:
-webkit-linear-gradient(315deg, hsla(61.13, 95%, 55%, 1) 0%, hsla(61.13, 95%, 55%, 0) 70%),
-webkit-linear-gradient(135deg, hsla(176.6, 89.13%, 65.68%, 1) 15%, hsla(176.6, 89.13%, 65.68%, 0) 80%),
-webkit-linear-gradient(205deg, hsla(312.45, 100%, 67.34%, 1) 100%, hsla(312.45, 100%, 67.34%, 0) 70%);
background:
linear-gradient(135deg, hsla(61.13, 95%, 55%, 1) 0%, hsla(61.13, 95%, 55%, 0) 70%),
linear-gradient(315deg, hsla(176.6, 89.13%, 65.68%, 1) 15%, hsla(176.6, 89.13%, 65.68%, 0) 80%),
linear-gradient(245deg, hsla(312.45, 100%, 67.34%, 1) 100%, hsla(312.45, 100%, 67.34%, 0) 70%);
} */
.colorful-2 {
    background:
        -webkit-linear-gradient(315deg, hsla(200, 100%, 70%, 1) 0%, hsla(200, 100%, 70%, 0) 70%),
        -webkit-linear-gradient(135deg, hsla(270, 100%, 80%, 1) 15%, hsla(270, 100%, 80%, 0) 80%),
        -webkit-linear-gradient(205deg, hsla(300, 100%, 80%, 1) 100%, hsla(300, 100%, 80%, 0) 70%);
    background:
        linear-gradient(135deg, hsla(200, 100%, 70%, 1) 0%, hsla(200, 100%, 70%, 0) 70%),
        linear-gradient(315deg, hsla(270, 100%, 80%, 1) 15%, hsla(270, 100%, 80%, 0) 80%),
        linear-gradient(245deg, hsla(300, 100%, 80%, 1) 100%, hsla(300, 100%, 80%, 0) 70%);
}

.colorful {
    background:
        -webkit-linear-gradient(255deg, hsla(160.59, 100%, 60%, 1) 0%, hsla(160.59, 100%, 60%, 0) 65%),
        -webkit-linear-gradient(220deg, hsla(130.59, 100%, 60%, 1) 0%, hsla(130.59, 100%, 60%, 0) 65%),
        -webkit-linear-gradient(315deg, hsla(100.59, 100%, 60%, 1) 0%, hsla(100.59, 100%, 60%, 0) 70%),
        -webkit-linear-gradient(65deg, hsla(70.59, 100%, 60%, 1) 10%, hsla(70.59, 100%, 60%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(40.59, 100%, 60%, 1) 15%, hsla(40.59, 100%, 60%, 0) 80%),
        -webkit-linear-gradient(205deg, hsla(10.59, 100%, 60%, 1) 100%, hsla(10.59, 100%, 60%, 0) 70%);
    background:
        linear-gradient(195deg, hsla(160.59, 100%, 60%, 1) 0%, hsla(160.59, 100%, 60%, 0) 65%),
        linear-gradient(230deg, hsla(130.59, 100%, 60%, 1) 0%, hsla(130.59, 100%, 60%, 0) 65%),
        linear-gradient(135deg, hsla(100.59, 100%, 60%, 1) 0%, hsla(100.59, 100%, 60%, 0) 70%),
        linear-gradient(25deg, hsla(70.59, 100%, 60%, 1) 10%, hsla(70.59, 100%, 60%, 0) 80%),
        linear-gradient(315deg, hsla(40.59, 100%, 60%, 1) 15%, hsla(40.59, 100%, 60%, 0) 80%),
        linear-gradient(245deg, hsla(10.59, 100%, 60%, 1) 100%, hsla(10.59, 100%, 60%, 0) 70%);
}
.colorful-3 {
background:
-webkit-linear-gradient(135deg, hsla(225, 72.48%, 80.56%, 1) 15%, hsla(225, 72.48%, 80.56%, 0) 80%),
-webkit-linear-gradient(205deg, hsla(220.65, 44.08%, 41.37%, 1) 100%, hsla(220.65, 44.08%, 41.37%, 0) 70%);
background:
linear-gradient(315deg, hsla(225, 72.48%, 80.56%, 1) 15%, hsla(225, 72.48%, 80.56%, 0) 80%),
linear-gradient(245deg, hsla(220.65, 44.08%, 41.37%, 1) 100%, hsla(220.65, 44.08%, 41.37%, 0) 70%);
}
/* .colorful-4 {
background: white;
} */

.container2 {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 200px;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background:
        -webkit-linear-gradient(315deg, hsla(200, 100%, 70%, 1) 0%, hsla(200, 100%, 70%, 0) 70%),
        -webkit-linear-gradient(135deg, hsla(270, 100%, 80%, 1) 15%, hsla(270, 100%, 80%, 0) 80%),
        -webkit-linear-gradient(205deg, hsla(300, 100%, 80%, 1) 100%, hsla(300, 100%, 80%, 0) 70%);
    background:
        linear-gradient(135deg, hsla(200, 100%, 70%, 1) 0%, hsla(200, 100%, 70%, 0) 70%),
        linear-gradient(315deg, hsla(270, 100%, 80%, 1) 15%, hsla(270, 100%, 80%, 0) 80%),
        linear-gradient(245deg, hsla(300, 100%, 80%, 1) 100%, hsla(300, 100%, 80%, 0) 70%);
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* th, td, p, input {
        font:14px Verdana;
    }
    table, td 
    {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 8px;
        text-align: center;
        font-family: 'Lora', serif;
        
    }
th {
    background:
        -webkit-linear-gradient(22deg, hsla(133.04, 100%, 86.47%, 1) 0%, hsla(133.04, 100%, 86.47%, 0) 65%),
        -webkit-linear-gradient(205deg, hsla(206.09, 100%, 86.47%, 1) 100%, hsla(206.09, 100%, 86.47%, 0) 70%);
    background:
        linear-gradient(68deg, hsla(133.04, 100%, 86.47%, 1) 0%, hsla(133.04, 100%, 86.47%, 0) 65%),
        linear-gradient(245deg, hsla(206.09, 100%, 86.47%, 1) 100%, hsla(206.09, 100%, 86.47%, 0) 70%);
    padding: 8px;
    font-family: 'Lora', serif;
    }
tr:nth-child(even){
        background-color: #f2f2f2;
}

tr:hover {
        background-color: #ddd;
} */
input[type=text], select {
        /* width: 100%; */
        padding: 8px 20px;
        /* margin: 8px 0; */
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        /* box-sizing: border-box; */
        font-family: 'Lora', serif;
}
p{
    margin:10px;
}
.button{
    font-size: 16px;
    background: linear-gradient(#F08080 5%, #DC143C 100%);
    border: 1px solid #FA8072;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    outline:none;
    font-family: 'Lora', serif;
    margin: 10px;
    padding: 8px 20px;
    }
    .button:hover{
    background: linear-gradient(#DC143C 5%, #F08080 100%);
    }